<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>
  <body>

    <div class="wrapper">

      <button class="btn prev" (click)="prev()" ><</button>
      
      <app-image [image]="image"></app-image>

      <button class="btn next" (click)="next()" >></button>
  </div>

  <ul class="list">
    <li *ngFor="let picture of pictures; let i = index" (click)="selectImage(i)"></li>
  </ul>

  

 </body>
</html>